/* ======================== RESET & VARIABLES ======================== */
/* Variables globales para colores y estilos reutilizables */
:root{
    --fondo: #111;                 /* Color de fondo principal */
    --texto: #fff;                 /* Color de texto principal */
    --textoSecu: #b5b5b5;           /* Texto gris (secundario) */
    --detalles: #e50914;          /* Color rojo Netflix-like */
    --capa: rgba(0,0,0,.33); /* Capa transparente para overlays */
}


/* Reset básico */
*{ box-sizing: border-box; }
html, body { height: 100%; }


/* Estilos base del body */
body{
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
}


/* ======================== HEADER ======================== */


/* Header principal que se mantiene sticky */
  .encabezado {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: rgba(0,0,0,.6);  /* Fondo semitransparente */
    z-index: 100; /* Profundidad del elemento, en este caso, por encima (100) */
  }
  
/* ======================== LOGOTIPO ======================== */
  .logo {
    font-size: 40px;
    color: var(--texto);
    font-weight: 800;
    letter-spacing: 1px;
  }
  .logo img {
    height: 40px;
    width: auto;
  }
  
  /* ======================== NAVBAR ======================== */
  .nav ul {
    display: flex;
    list-style: none;
    gap: 12px;
  }
  
  .nav li a {
    color: var(--texto);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
  }
  /* Hover con color de acento */
  .nav li:hover a { color: var(--detalles); }
  
  /* ======================== BUSCADOR ======================== */
  .buscador {
    position: relative;
    width: 320px;
    height: 40px;
  }

  /* Caja de texto */
  .buscador input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--texto);
    background: transparent;
    border: 1px solid var(--textoSecu);
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(6px); /* Efecto vidrio esmerilado por dentro del input */
  }
  .buscador input::placeholder { color: var(--texto); 
  }
  
  /* Ícono de búsqueda (lupa) */
  .buscador i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: var(--texto);
    border-right: 1px solid var(--texto);
  }
  
  
  /* ======================== SECCIÓN PRINCIPAL ======================== */
  .titulo-pelicula {
    width: 80%;
    max-width: 550px;
    height: auto;
    margin-bottom: 20px;
  }
  .seccion-principal {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(assets/bg/bg-marvel.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
  }
  .seccion-principal h4{
    color: var(--textoSecu);
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .seccion-principal .contenido h4 span{
    padding: 0 10px;
    border-right: 1px solid var(--textoSecu);
  }

  .seccion-principal .contenido h4 span:first-child{
    padding-left: 0;
  }

  .seccion-principal .contenido h4 span:last-child{
    border-right: none;
  }

  .seccion-principal .contenido h4 span:last-child{
    border-right: none;
  }

  .seccion-principal .contenido h4 span i{
    background-color: var(--detalles);
    color: var(--texto);
    padding: 0 8px;
    display: inline-block;
    border-radius: 5px;
  }

  .seccion-principal .contenido p{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--texto);
    margin: 10px 0 20px;
  }

  .seccion-principal .botones{
   display: flex;
  }
  
  .seccion-principal .botones a{
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: var(--detalles);
    color: var(--texto);
    font-weight:bold;
    padding: 6px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
  }
  .seccion-principal .botones a:nth-child(2){
    background: rgba(0,0,0,0.5);
    border: 1px solid var(--textoSecu);
  }

  .seccion-principal .botones a:hover:nth-child(2){
    background: var(--detalles);
  }
  
  /* Overlay//capa: oscura sobre la imagen */
  .seccion-principal .capa {
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    background: var(--capa);
    z-index: 0;
  }
  
  .seccion-principal .contenido {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
  }

  /* Animación de entrada, escalado) */
  .contenido.activo {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
  }
  
/* ======================== CARRUSEL ======================== */
/* Carrusel a la derecha */
.carrusel-derecha {
  flex-shrink: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 80px;
  z-index: 1;
  /* Necesario para la perspectiva 3D */
  perspective: 1500px;
  -webkit-perspective: 1000px;
}

.carrusel {
  width: 35vw;  /* Para que sea responsive */
  height: 280px;
  background: rgba(0, 0, 0, .3);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 20px; 
  display: flex;
  align-items: center;
  justify-content: center; /* Centramos el contenido horizontalmente */
  position: relative;
  overflow: hidden;
  box-shadow: 0 6px 20px var(--fondo);
  transform-style: preserve-3d;
}

.item {
  cursor: pointer;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  position: absolute;
  backface-visibility: hidden;
  transform-origin: center;
}

.item img {
  width: 110px;
  height: 170px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 18px var(--fondo);
  display: block;
}

/* Clases de estado que el JavaScript controlara */
.item.active {
  transform: scale(1.2) translateX(0);
  filter: blur(0);
  z-index: 10;
}

.item.side-left {
  transform: scale(0.9) translateX(-150px);
  filter: blur(2px);
  z-index: 5;
}

.item.side-right {
  transform: scale(0.9) translateX(150px);
  filter: blur(2px);
  z-index: 5;
}

.item.background-left {
  transform: scale(0.7) translateX(-300px);
  filter: blur(5px);
  z-index: 2;
}

.item.background-right {
  transform: scale(0.7) translateX(300px);
  filter: blur(5px);
  z-index: 2;
}
/* Botón de trailer */
.btn-trailer {
  margin-top: 15px;
  display: inline-block;
  background:var(--fondo);
  color: var(--texto);
  padding: 10px 18px;
  border-radius: 999px;
  text-decoration: none;
  border: 1px solid var(--textoSecu);
  backdrop-filter: blur(6px); /* difumina el fondo */
}
.btn-trailer:hover {
  background: var(--detalles)
}
  /* ======================== REDES SOCIALES ======================== */
  .redes-sociales {
  position: absolute;
  bottom: 50px;
  right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style-type: none; /* Sacamos el ::marker */
  }
  .redes-sociales a {
   color: var(--texto);
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 20px;
   transition: 0.3s;
   cursor: pointer;
  }
  .redes-sociales a:hover { 
    color: var(--detalles); 
  }
  